.container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.cont-izq {
  flex: 1;
  text-align: left;
  font-weight: bold;
}

.cont-drch {
  flex: 1;
  text-align: right;
  margin-top: 10px;
}

button {
  color: antiquewhite;
  background-color: black;
}

.container1 {
  display: flex;
  justify-content: space-between;
}

.div-izquierda {
  flex: 1;
  text-align: left;
  margin-top: 10px;
}

.div-derecha {
  justify-content: space-between;
  flex: 1;
  text-align: right;
  margin-top: 10px;
}

.imagen {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  flex: 1;
  margin: 0 10px;
  margin-top: 10px;
  margin-left: 100px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.img-fig {
  display: block;
  margin-top: 10px;
}
